.st-emotion-cache-1cvow4s h1 {
    padding: .7rem 0;
    text-align: center;
    margin-bottom: 1rem;
}
.st-emotion-cache-bm2z3a{
    padding-bottom: 0;
}
.st-emotion-cache-yw8pof{
    padding-bottom: 1rem;
}
.st-emotion-cache-1cvow4s h2{
    font-size: 1.4rem;
    padding: 0;
    text-align: center;
    margin-top: 2rem;
}
.st-emotion-cache-1dumvfu{
    scale: 0;
}
.st-bn{
    cursor: pointer;
}
.footer {
    width: 100%;
    background-color: #0E1117;
    text-align: center;
    padding: 10px;
    margin-top: 5rem;
}